@font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/Lato-Bold.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Lato-Black";
    src: url("../fonts/Lato-Black.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Lato-Light";
    src: url("../fonts/Lato-Light.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Lato-Thin";
    src: url("../fonts/Lato-Thin.ttf");
    font-style: normal;
}

body {
    margin: 0;
}

.header-font {
    /* max-width: 1440px; */
    height: 75px;
    background-color: #222;
}

.bound {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
}

.header-menu {
    max-width: 160px;
    padding: 10px;
    display: flex;
    gap: 33px;
    align-items: center;
}

.header-menu-burger {
    position: relative;
}

.drop-down-menu {
    display: none;
    z-index: 2;
    position: fixed;
    width: 232px;
    height: 634px;
    top: 75px;
    right: 0;
    background-color: #FFF;
    box-shadow: -5px 5px 5px #9F9F9F;
    font-family: Lato-Regular;
}

.header-drop-down-menu {
    margin-left: 33px;
    margin-top: 32px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.header_drop-down-menu-card {
    margin-left: 33px;
    margin-top: 0;
    color: #6F6E6E;
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-left: 53px;
    font-size: 14px;
    font-weight: 400;
}

.header_drop-down-menu-title {
    margin-left: 33px;
    margin-top: 20px;
    color: #F16D7F;
    font-family: Lato-Regular;
    font-size: 14px;
    font-weight: 400;
}

.header_drop-down-menu-tex {
    margin-top: 11px;
    margin-left: 20px;
}

.header-menu-burger:hover .drop-down-menu {
    display: block;
}

.header-basket-count {
    position: relative;
}

.header-basket-count::after {
    position: absolute;
    content: '5';
    padding: 0;
    top: -8px;
    right: -10px;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato-Regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.intro {
    background-color: #F1E4E6;
    position: relative;
}



.intro-block {
    margin: 0 auto;
    display: flex;
    gap: 63px;
}

.intro-img {
    margin-left: -230px;
}

.intro-border {
    margin-top: 290px;
    padding-left: 16px;
    height: 92px;
    border-left: solid;
    border-left-width: 12px;
    border-left-color: #F16D7F;
}

.intro-capitals {
    margin: 0;
    font-family: "Lato-Black";
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


.intro-luxerios {
    font-family: "Lato-Regular";
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.intro-fashion {
    font-family: "Lato-Regular";
    color: #F16D7F;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.unit {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.unit img {
    width: 100%;
    height: 100%;
    filter: brightness(40%)
}

.unit-item {
    position: relative;
}

.unit-item-long {
    position: relative;
    text-align: center;
    grid-column: 1/4;
    grid-row: 2/3;
}

.unit-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unit-text {
    margin: 0;
    font-family: "Lato-Light";
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.unit-buttom {
    margin: 0;
    font-family: "Lato-Light";
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cards {
    margin-top: 96px;
    margin-bottom: 60px;
}

.card-title {
    margin: 0;
    text-align: center;
    font-family: "Lato-Regular";
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-text {
    margin: 0;
    text-align: center;
    font-family: "Lato-Light";
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-items {
    margin: 48px 0px 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-item img {
    width: 100%;
    /* position: relative; */
    cursor: pointer;
}

.card_item-image {
    position: relative;
}

.card_item-image::after {
    background-color: rgba(58, 56, 56, 0.86);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.card_item-image:hover::after {
    display: block;
}

.card_item-image .button-add-card {
    z-index: 2;
    display: none;
    border: 1px solid #FFF;
    background-color: inherit;
    width: 139px;
    height: 44px;
    color: #FFF;
    font-family: Lato-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_item-image:hover .button-add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.card-item-properties {
    background-color: #F8F8F8;
    padding: 24px 16px;
    padding-right: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.card-item-properties-name {
    margin: 0;
    color: #000;
    font-family: "Lato-Bold";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-item-properties-consist {
    margin: 0;
    color: #5D5D5D;
    font-family: "Lato-Light";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.card-item-properties-price {
    margin: 0;
    color: #F16D7F;
    font-family: "Lato-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-button-wraper {
    text-align: center;
}

.card-button {
    color: #F26376;
    font-family: "Lato-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px;
    cursor: pointer;
    background-color: #FFF;
    border-color: #F26376;
}

.font-advantages {
    background-color: #222224;
    padding-top: 104px;
    padding-bottom: 104px;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    text-align: center;
}

.card-advantages-name {
    margin-top: 25px;
    margin-bottom: 16px;
    color: #FBFBFB;
    font-family: Lato-Regular;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-advantages-text {
    width: 300px;
    color: #FBFBFB;
    text-align: center;
    font-family: Lato-Light;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.about {
    position: relative;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(244, 244, 244, 0.70), rgba(244, 244, 244, 0.70)), url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.card-about {
    width: 100%;
    display: flex;
    gap: 327px;
    justify-content: center;
}

.card-aboutme {
    margin-top: 97px;
    margin-bottom: 126px;
}

.card-aboutme-text {
    margin-top: 30px;
    width: 360px;
    height: 99px;
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-aboutme-text-regular {
    font-family: Lato-Regular;
}

.card-aboutme-text-italic {
    font-style: italic;
}

.card-subscribe-text {
    width: 557px;
    height: 61px;
    margin-top: 150px;
    color: #222224;
    text-align: center;
    line-height: 167.2%;
    font-family: Lato-Regular;
}

.subscribe {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.card-subscribe-name {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
}

.card-subscribe-item {
    margin-top: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.subscribe-email {
    background-color: #E1E1E1;
    border-radius: 50px 0px 0px 50px;
    border: 0;
    height: 49px;
    width: 256px;
    padding-left: 22px;
    font-family: Lato-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe-button {
    margin-left: 0;
    background-color: #F16D7F;
    border: 0;
    border-radius: 0px 50px 50px 0px;
    height: 49px;
    width: 100px;
    font-family: Lato-Regular;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.subscribe-button:hover {
    font-size: 16px;
}

.font-footer {
    background-color: #222224;
}

.footer-block {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    width: 332px;
    color: #FBFBFB;
    font-family: Lato-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
}

.footer-logo-item {
    padding-top: 8px;
    padding-bottom: 3px;
    width: 32px;
    background-color: #FFF;
    text-align: center;
}

.footer-logo-item:hover {
    background-color: #F16D7F;
}

.footer-logo-item:hover path {

    fill: #FFF;
}

@media screen and (max-width: 1439px) {
    .bound {
        max-width: 100%;
        margin: 0 16px;
    }

    .header-font {
        max-width: 100%;
    }

    .header {
        max-width: 100%;
        margin: 0 32px;
    }

    .intro-block {
        max-width: 100%;
        margin: 0 auto;
        gap: 39px;
        justify-content: center;
    }

    .intro-img {
        margin-left: 0px;
    }

    .intro-border {
        margin-top: 138px;
    }

    .intro-capitals {
        font-size: 44px;
    }

    .intro-luxerios {
        font-size: 24px;
    }

    .intro-fashion {
        font-size: 24px;
    }

    .cards {
        margin: 110px 16px 70px;
    }

    .card-items {
        max-width: 100%;
        margin: 72px 0px 32px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        justify-items: center;
    }

    .unit {
        margin: 65px 16px;
        gap: 20px;
    }

    .unit-item {
        text-align: center;
    }

    .unit-buttom {
        width: 150px;
    }

    .advantages {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 48px;
    }

    .about {
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card-about {
        max-width: 100%;
        gap: 0;
        display: grid;
        text-align: center;
        justify-items: center;

    }

    .card-aboutme {
        margin-top: 64px;
        margin-bottom: 0;
    }

    .card-subscribe {
        margin-top: 27px;
        margin-bottom: 140px;
    }

    .card-subscribe-text {
        margin-top: 0;
    }

    .subscribe {
        margin-top: 27px;
    }
}

@media screen and (max-width: 1023px) {
    .intro-block {
        gap: 0;
    }
}

@media screen and (max-width: 767px) {

    .header-menu {
        padding: 0;
    }

    .header-menu-logo {
        display: none;
    }

    .header-menu-basket {
        display: none;
    }

    .header-basket-count {
        display: none;
    }

    .intro-block {
        height: 363px;
    }

    .intro-img {
        display: none;
    }

    .intro-border {
        height: 67px;
    }

    .intro-capitals {
        font-size: 38px;
    }

    .intro-luxerios {
        font-size: 20px;
    }

    .intro-fashion {
        font-size: 20px;
    }

    .unit {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
        gap: 32px;
    }

    .cards {
        margin: 64px 8px 85px;
    }

    .card-items {
        display: flex;
        flex-direction: column;
    }

    .card-aboutme-text {
        font-size: 18px;
        width: 343px;
    }

    .card-subscrib {
        text-align: center;
    }

    .card-subscribe-text {
        width: 100%;

    }

    .card-subscribe-item {
        font-size: 14px;
        width: 100%;
    }

    .subscribe-email {
        width: 200px;
        height: 47px;
    }

    .subscribe-button {
        height: 47px;
        width: 95px;
    }

    .footer-block {
        height: 143px;
        flex-direction: column-reverse;
        justify-content: flex-start;

    }

    .footer-text {
        width: 251px;
        margin-top: 40px;
        margin-bottom: 9px;
    }
}